# Generated via Nexin django powered rest API template
# Remember to add more environment variables to be used


export DEBUG='True'
export ALLOWED_HOSTS='*'
export CORS_ORIGIN_WHITELIST=''
export DATABASE_URL=''

# AWS VARIABLES

export AWS_ACCESS_KEY_ID=''
export AWS_SECRET_ACCESS_KEY=''
export USE_S3_STORAGE='False'
export AWS_STORAGE_BUCKET_NAME=''
export AWS_S3_REGION_NAME=''


# CELERY VARIABLES



# HEROKU
# Change to True when deploying to heroku server
export USE_HEROKU='False'
