# Generated via Nexin django powered rest API template
# Remember to add more environment variables to be used

[settings]
DEBUG=True
ALLOWED_HOSTS=*
CORS_ORIGIN_WHITELIST=
DATABASE_URL=

# AWS VARIABLES

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
USE_S3_STORAGE=False
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=


# CELERY VARIABLES



# HEROKU
# Change to True when deploying to heroku server
USE_HEROKU=False
